.main{
.new-film, .top-film{
    .row {
        margin-right: -7.5px;
        margin-bottom: -$gap;
        margin-left: -7.5px;
      } 
    .thumbnail:hover{
       background-color: $color-accent;

        strong{
            color: $color-light;
        }
    }

    
    &-item{
        padding-right: $gap / 2;
        padding-left: $gap / 2;
        &__images {
         transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        
            strong{
                text-align: center;
                display: block;
                margin: 9px 0 9px 0;
            }
         
        }
    }
}


.kino-news-item{
    padding-bottom: 30px;
}
}