.page-films {

    iframe {
        width: 100%;
        height: 450px;
        border: none;
    }
}

.video-wrap-info {
    margin-top: -5px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: lighten($color-gray, 8%);
    border:1px solid  $color-gray;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    @include xs{
        padding: 10px;
    }

    &__title {
        text-align: center;
        font-size: 1.28rem;
        @include xs{
            font-size: 1.18rem;
        }
        span {
        font-size: 0.97rem;    
            margin-right: 20px;
            @include xs{
                margin-right: 15px;
            }
           
        }
    }
}
.page-description{
    
    p{
        padding: 20px;
    }
}
form{
    @include lg-min{
        padding-bottom: 30px;
    }
   
    @include md{
        padding-bottom: 60px;
    }
 

    .form-item{
        margin-bottom: 15px;
    }
}
